.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.616);
}

.edit-all {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: fit-content;
  z-index: 1000;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(206, 192, 192, 0.2);
}

.create-user {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: fit-content;
  z-index: 1000;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(206, 192, 192, 0.2);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  .btn-submit {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #442c2e;
    background-color: #fff;
    &:hover {
      background-color: #442c2e;
      color: #fff;
    }
  }
}

@media (max-width: 767px) {
  .edit-all {
    width: 300px;
  }

  .create-user {
    width: 300px;
  }
}
