<div class="products">
  <div class="product-creation">
    <h3 class="text-center mb-5">Create New Product</h3>
    <form [formGroup]="productForm!" (ngSubmit)="createProduct()">
      <div class="form-group mb-3">
        <label for="title" class="form-label mb-2">Product Name</label>
        <input
          type="text"
          class="form-control"
          id="title"
          placeholder="Enter product name"
          formControlName="title"
        />
      </div>
      <div class="form-group mb-3">
        <label for="quantity" class="form-label mb-2">Product Quantity</label>
        <input
          type="number"
          class="form-control"
          id="quantity"
          placeholder="Enter product quantity"
          formControlName="quantity"
        />
      </div>
      <div class="form-group mb-3">
        <label for="price" class="form-label mb-2">Product Price</label>
        <input
          type="number"
          class="form-control"
          id="price"
          placeholder="Enter product price"
          formControlName="price"
        />
      </div>
      <div class="form-group mb-3">
        <label for="description" class="form-label mb-2">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          placeholder="Enter product description"
          formControlName="description"
        />
      </div>
      <div class="form-group mb-3">
        <label for="imageCover" class="form-label mb-2">Image Cover</label>
        <input
          type="file"
          class="form-control"
          id="imageCover"
          placeholder="Enter product image cover"
          (change)="onImageSelected($event)"
        />
      </div>
      <div class="form-group mb-3">
        <label for="images" class="form-label mb-2">Images</label>
        <input
          type="file"
          class="form-control"
          id="images"
          placeholder="Enter product images"
          formArrayName="images"
          multiple
          (change)="onFileSelected($event)"
        />
      </div>
      <div class="form-group mb-3">
        <label for="category" class="form-label mb-2">Category</label>
        <input
          type="text"
          class="form-control"
          id="category"
          placeholder="Enter product Category Id"
          formControlName="category"
        />
      </div>

      <div class="form-group mb-3">
        <label for="brand" class="form-label mb-2">Brand</label>
        <input
          type="text"
          class="form-control"
          id="brand"
          placeholder="Enter product Brand Id"
          formControlName="brand"
        />
      </div>
      <div class="form-group mb-3">
        <label for="rating" class="form-label mb-2">Ratings Average</label>
        <input
          type="number"
          class="form-control"
          id="rating"
          placeholder="Enter product Rating Avarage"
          formControlName="ratingsAverage"
        />
      </div>
      <div class="submit">
        <button
          type="submit"
          class="btn-submit"
          [disabled]="productForm?.invalid"
        >
          Add
        </button>
      </div>
    </form>
  </div>
  <div class="products-list row gap-1 mt-5 justify-content-center">
    <h1 class="text-center mb-5">Products</h1>
    <div class="card col-md-2" *ngFor="let product of productsArray">
      <div class="product-image">
        <img
          src="{{ product?.imageCover }}"
          alt=""
          class="card-img-top img-fluid"
        />
      </div>
      <div class="product-details">
        <h3>{{ product?.title }}</h3>
        <p>{{ product?.description }}</p>
        <p>{{ product?.price }}</p>
      </div>
      <div class="product-controls d-flex justify-content-between">
        <i class="fa-solid fa-trash" (click)="deleteProduct(product?._id)"></i>
        <i
          class="fa-solid fa-pen-to-square"
          (click)="openModal(product._id)"
        ></i>
      </div>
    </div>
  </div>
</div>
<app-edit-modal *ngIf="modalStatus"></app-edit-modal>
